body {
    margin: 0 auto;
    background: url('images/background.jpeg');
    background-size: 100%;
}

.header-img{
    height: 20rem;
    max-width: 1000px;
    background: url('images/header-banner.png');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.navbar {
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    display: inline-block;
}

.sidebar-header {
    display: inline;
}

#sidebar ul p {
    padding-left: 2%;
    font-size: 1.5rem;
    font-weight: 400;
    color: whitesmoke;
    background-color: rgba(135, 207, 235, 0.788);
    text-shadow: 2px 2px 8px black;
    padding: 10px;
}

#stats {
    padding-left: 2%;
    min-width: 15%;
    max-width: 15%; 
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    display: inline-flex;
}


/* ---------------------------------------------------
    BODY - CARD CONTENT
----------------------------------------------------- */
.column {
    padding: .5%;
}

.face, .back {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.card-block.revealed .back {
    display: none
}

.card {
    height: 100%;
    width: 100%;
}

.card-block {
    height: 230px;
    width: 230px;
    top: 10%;
    left: 10%;
    bottom: 5%;
    position: relative;
}

.back .card-img {
    height: 230px;
    width: 230px;
    border-radius: 10%;

}

.pictures {
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    position: relative;
    border-radius: 10%;

}

/* ---------------------------------------------------
    Card Animation
----------------------------------------------------- */
.card-block :hover {
    box-shadow: 0px -5px 20px 9px gold;
    border-radius: 10px;
    cursor: url(images/fingerpointer-sm.png), auto;
}

.card-block.revealed :hover {
    box-shadow: none;
    cursor: default;
}

/* ---------------------------------------------------
    Media Queries 
----------------------------------------------------- */
@media only screen and (max-width: 970px) {
    .header-img{
        height: 14rem;
    }
    .card-block {
        height: 180px;
        width: 180px;
        top: 10%;
        left: 10%;
        bottom: 5%;
        position: relative;
    }
    .back .card-img {
        height: 180px;
        width: 180px;
    }
}

@media only screen and (max-width: 800px) {
    .header-img{
        height: 14rem;
    }
    .card-block {
        height: 180px;
        width: 180px;
        top: 10%;
        left: 10%;
        bottom: 5%;
        position: relative;
    }
    .back .card-img {
        height: 180px;
        width: 180px;
    }
}

@media only screen and (max-width: 615px) {
    .header-img{
        height: 11rem;
    }
    .card-block {
        height: 230px;
        width: 230px;
        top: 10%;
        left: 10%;
        bottom: 5%;
        position: relative;
    }
    .back .card-img {
        height: 230px;
        width: 230px;
    }
}

@media only screen and (max-width: 450px) {
    .header-img{
        height: 7rem;
    }
    .card-block {
        height: 155px;
        width: 155px;
        top: 10%;
        left: 10%;
        bottom: 5%;
        position: relative;
    }
    .back .card-img {
        height: 155px;
        width: 155px;
    }
}

/* ---------------------------------------------------
    Modal Stuff
----------------------------------------------------- */
.winModal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.9);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.modal-content iframe{
    margin: 0 auto;
    display: block;
}

.modal-body {
    align-content: center;
}