body {
    background: url('images/background.jpeg');
    background-size: 100%;
}

.jumbotron.container-fluid {
    height: 200px;
    max-width: 1000px;
    text-align: center;
    background: url('images/header-banner.png');
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.navbar {
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.wrapper {
    display: inline-flex;
    height: 100vh;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    min-width: 15%;
    max-width: 15%;
}

#sidebar ul p {
    padding-left: 2%;
    color: whitesmoke;
    text-shadow: 2px 2px 8px black;
    padding: 10px;
}

#stats {
    padding-left: 2%;
    min-width: 100%;
    max-width: 100%;
}


/* ---------------------------------------------------
    BODY - CARD CONTENT
----------------------------------------------------- */

.face, .back {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.card-block.revealed .back {
    display: none
}

.row {
    width: 75%;
}
.card {
    height: 10%;
    width: 10%;
    float: left;
    padding: 4%;
}

.card-block {
    height: 200px;
    width: 200px;
    top: 10%;
    left: 10%;
    bottom: 5%;
    position: relative;
    padding: 1%;
}

.back .card-img {
    height: 200px;
    width: 200px;
    padding: 1%;
}

.pictures {
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    position: relative;
}

.disabled {
    pointer-events: none;
}
/* ---------------------------------------------------
    Modal Stuff
----------------------------------------------------- */
.winModal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.9);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.modal-content iframe{
    margin: 0 auto;
    display: block;
}

.modal-body {
    align-content: center;
}
