body {
    background: url('images/background.jpeg');
    background-size: 100%;
}

.jumbotron.container-fluid {
    height: 200px;
    text-align: center;
    background: url('images/header-pixar3.jpg');
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.navbar {
    padding: 15px 10px;
    background: #A26228;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 20%;
    max-width: 20%;
    background: rgb(131, 149, 219); 
    /* get rid of background color later don't forget */
    color: #fff;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#stats {
    min-width: 100%;
    max-width: 100%;
}


/* ---------------------------------------------------
    BODY - CARD CONTENT
----------------------------------------------------- */

.face, .back {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.face {
    background-color: #81AD72
}

.back { 
    background-color: #6d7fcc
}

.card-block.revealed .back {
    display: none
}

.row {
    width: 85%;
}
.card {
    height: 328px;
    width: 220px;
    float: left;
}

.card-block {
    height: 100%;
    width: 100%;
    top: 10%;
    left: 10%;
    bottom: 5%;
    position: relative;
}

.pictures {
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    position: relative;
}

.disabled {
    pointer-events: none;
}
/* ---------------------------------------------------
    Modal Stuff
----------------------------------------------------- */
/* #modalShadow {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.9);
    display: none;
}

#modalBody {
    color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    min-width: 50%;
    max-width: 50%;
    min-height: 50%;
    max-height: 50%
} */
